*.o
*.a
*.c~
*.h~
*.S~
.gitignore~
makefile~
Makefile~
*.ld~
.swp
*.iso
*.img
*.elf
*.bin
*.txt~
kernel.txt
kernel/kernel
build/image/boot/kernel
test
concha
tractius
mkinitrd
sys_init
ls
cat
cp
fasm
*.lst~

